---
import Layout from "../layouts/Layout.astro";
import AnnouncementStrip from "../components/AnnouncementStrip.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Courses from "../components/Courses.astro";
import WhyCrescent from "../components/WhyCrescent.astro";
import Updates from "../components/Updates.astro";
import Admissions from "../components/Admissions.astro";
import Gallery from "../components/Gallery.astro";
import StudentLife from "../components/StudentLife.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
---

<Layout path="/">
  <AnnouncementStrip />
  <Header />
  <main id="main">
    <Hero />
    <About />
    <Courses />
    <WhyCrescent />
    <Updates limit={4} showViewAll={true} />
    <Admissions />
    <StudentLife />
    <Gallery limit={6} showViewAll={true} />
    <Contact />
  </main>
  <Footer />
</Layout>
